<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |form|%>
    <div class="card">
      <h5 class="card-header"><%= question.description %></h5>
      <div class="card-body">
        <% question.answers.each do |answer|%>
          <div class="form-check">
            <label class="form-check-label">
              <%= radio_button_tag 'answer_id', answer.id %><%= answer.description %>
            </label>
          </div>
        <% end %>
        <br>
        <%= form.submit 'Responder', class: 'btn btn-primary' %>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
<div class="d-flex justify-content-center mt-5">
  <%= paginate @questions %>
</div>