<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header"><h3 class="text-center font-weight-light my-4">Time To Answer</h3></div>
            <div class="card-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                
                <%= render "users/shared/error_messages", resource: resource %>
                
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, placeholder:"E-mail", class:"form-control py-4" %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, placeholder: "Senha", class:"form-control py-4", autocomplete: "new-password" %>
                  <% if @minimum_password_length %>
                  <em class="font-weight-light ml-2">mínimo de <%= @minimum_password_length%> caracteres</em>
                  <% end %><br/>
                </div>

                <div class="form-group">
                  <%= f.password_field :password_confirmation, placeholder: "Confirmação de Senha", class:"form-control py-4", autocomplete: "new-password" %>
                </div>

                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                  <%= f.submit "Sign up", class:"btn btn-warning" %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>

